@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
 font: normal 100%;
 line-height: 1.3;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Source Sans Pro', sans-serif;
}
*, *::before, *::after {
  box-sizing: inherit;
}


.clearfix::after {
  /* Generates a new element above */
  content: " ";
  display: table;
  clear: both;
}


body {
  margin: 0;
  padding: 0;
}

header{
    position: relative;
    background-color: #ccc;
    margin: 0;
    padding: .2em;


}

img{
  width: 100%;
}


h1 {
  display: inline-block;
  width: 25%;
  float: left;
  margin: 0;
  padding-left: .2em;
}
.logo{
  display: block;
  width: 43px;
}
 ul{
   padding: 0
 }

.nav {
  display: none;
  font-family: 'Source Sans Pro', sans-serif;
  list-style-type: none;
  text-decoration: none;
  background: #ccc;
  text-align: left;
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  right: 0;
  top: 100%;
  color: #000;
  z-index: 1000;
}
.nav a{
  list-style-type: none;
  text-decoration: none;
  color: #000;
  display: block;
  padding: .5em;
  margin: 0;
}
.nav a:hover {
  background: #999;
}



.nav-check:checked ~ .nav {
  display: block;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  width: 35px;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom:.5em;
}

.nav-check:checked ~ .nav-label{
  background-color:#ccc;
}

.nav-close{
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}
.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.banner-image-1{
display: block;
width: 100%;
margin: 0;
margin-bottom: 1em;
}
.banner-image-2{
  display: none;
}
.holder{
  position: relative;
}
.banner-content {
  width: 100%;
  max-width: 45rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: .2rem;
  margin-bottom: 0;
  padding: .5em
}

h2{
  font-family: 'Kaushan Script', cursive;
  font-size: 1.7rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}
.call-to-action{
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 1em;
}

.btn {
  display: inline-block;
  padding: .4em 0.75em 0.3em;
  margin-top: .5em;
  color: #fff;
  border-radius: 8px;
  border-width: 3px;
  text-decoration: none;
  background-color: #333;
  font-size: .8rem;
}

.btn:hover {
  background-color: #000;
}

.link-card-image{
  width: 85%;
  margin: 1em;

}

.link-card-text{
width: 100%;
max-width: 45rem;
left: 45%;
top: 45%;
margin-top: .2rem;
margin-bottom: 0;
position: absolute;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.card{
  position: relative;
  text-align: center;
}

.card a{
    list-style-type: none;
    text-decoration: none;
    color: #000;
  }




h3{
  margin: 0;
  margin-bottom: 1em;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;

}


.about-us-image-2{
  width: 90%;
  margin: 1em;
}

.about-us-image-1, .baked-goods-image-1{
  display: none;
}

.baked-goods-image-2{
  width: 90%;
  margin: 1em;
}

.icon-name{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 1em;

}

.icon{
width: 100%;
}

li.icon{
  list-style-type: none;
}

footer{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ccc;
  padding-bottom:1em;
  text-align: center;

}

.social-media{
  display: inline-block;
  width: 43px;
  margin:1em;

}

small{
  display: block;
  margin-left: 1em;
  text-align: left;
}

section{
  border-top: .5px solid #333;
  margin: 1rem;
  margin-top: 0;
}

section > h2{
  margin-top: .5em;
}

.card-holder{
  margin-bottom: 1em;
}
 h4{
   margin-bottom: 0;
 }

.icon-circle{
  width: 80%;
}
.icon-img{
  text-align: center;
}
.section-header{
  margin-top: .5em;
}



@media only screen and (min-width: 25em) {

  html{
    font-size: 100%;
    line-height:1.3;
  }

h2{
  font-size: 2.3rem;
}

.call-to-action{
  font-size: 1.2rem;
}


.link-card-image {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  }

.btn {
  padding-right: 2em;
  padding-left:2em;
  font-size: .8em;
}

.icon{
  display: inline-block;
}


 .icon-name{
   text-align: left;
 }

.icon-group{
  text-align: center;
}

.link-card-text{
  font-size: 2rem;
}

}

@media only screen and (min-width: 38em) {
  html{
    font-size: 110%;
    line-height: 1.4;
  }
  .checkbox {
    display: none;
  }
  .nav-check {
    display: none;
  }
  .nav-close, .nav-open, .nav-label{
    display: none;
  }
  .nav{
    display: block;
    position: static;
    text-align: center;
  }
  .nav li{
    display: inline-block;
    width: 15%;
  }

  .banner-image-1 {
    display: none;
  }

  .banner-image-2 {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
  }
h2{
  font-size: 3.7rem;
}
h3{
  font-size: 2rem;
  margin-left: .5em;
  margin-bottom: 0;
  text-align: left;
}
.card{
  width: 30%;
  display: inline-block;
}

.link-card-text{
  font-size: 1rem;
}

.card-holder{
    text-align: center;
}
 section{
   text-align: left;
   overflow: hidden;
 }

.about-us-image-2, .baked-goods-image-2{
  display: none;

}
.about-us-image-1{
display: inline-block;;
float: left;
width: 40%;
margin-top: 1em;
margin-left: 1em;
}
.baked-goods-image-1{
display: inline-block;;
float: right;
width: 40%;
margin-top: 1em;
margin-left: 1em;
}

.about-us-text{
  float: right;
  width: 55%;
  margin-top: 1em;
}
.baked-goods-text{
  float: left;
  width: 55%;
  margin-top: 1em;
}
.icon-img {
  width: 50%;
 display: inline-block;

}

section > h2{
  text-align: left;
  margin: .2em;

}
.icon-header{
  text-align: center;
    margin-bottom: 0;

}

.icon-list{
  text-align: center;
}

footer{
  text-align: left;

}
.section-header{
  text-align: left;
}

}

@media only screen and (min-width: 60em) {
  html{
    font-size: 120%;
    line-height: 1.5;
  }
  h2{
    font-size: 5rem;
  }


  .icon-group{
    display: inline-block;
  }
  .icon{
    display: inline-block;
    width: 28%;
  }

  .icon-body{
    text-align: left;
  }



  .icon-img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  li.icon {
    vertical-align: text-top;
    margin-bottom: 0;
  }

  .call-to-action{
    font-size: 2rem;
  }

  .btn {
    font-size: 1rem;
}
  h4{
    margin-left: 1em;
  }
}
@media only screen and (min-width: 90em) {

html{
  font-size: 130%;
  line-height: 1.5;
}
}
